[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/Windos/blist-hugo-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
